<!-- <p>addproduct works!</p> -->

<div class="d-flex h-100">
    <div class="container">
        <h4>Labels</h4>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <p>Category:</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" >
                <select [(ngModel)]="selectedCategory1" required>
                        <option value="" disabled selected>Choose a drink</option>
                    <option *ngFor='let main_item of main_categories | keyvalue' >{{main_item.key}}</option>
                </select>
            </div>
        </div>
        <div class="row" *ngIf="selectedCategory1Status()">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <p>Category:</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" >
                <select [(ngModel)]="selectedCategory2">
                    <option *ngFor='let sec_item of sec_categories | keyvalue'>{{sec_item.key}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row" *ngIf="selectedCategory2Status()">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <p>Category:</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" >
                <select [(ngModel)]="selectedCategory3">
                    <option *ngFor='let ter_item of ter_categories | keyvalue'>{{ter_item.value}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>