<!-- <p>addproduct works!</p> -->

<div class="d-flex h-100">
    <div class="container">
        <h4>Labels</h4>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <p>Category:</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" >
                <select class="box" [(ngModel)]="selectedCategory1" [disabled]="disableAll" required (change)="clearAll()">
                        <option value="" disabled selected>Choose a drink</option>
                    <option *ngFor='let main_item of main_categories | keyvalue' >{{main_item.key}}</option>
                </select>
            </div>
        </div>
        <div class="row" (change)="selectedCategory3 == null">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <p>Sub-Category1:</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" >
                <select class="box" [(ngModel)]="selectedCategory2" [disabled]="!selectedCategory1Status() || disableAll">
                    <option *ngFor='let sec_item of sec_categories | keyvalue'>{{sec_item.key}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <p>Sub-Category2:</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" >
                <select class="box" [(ngModel)]="selectedCategory3" [disabled]="!selectedCategory2Status() || disableAll">
                    <option *ngFor='let ter_item of ter_categories | keyvalue'>{{ter_item.value}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <p>Product Name:</p>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <input class="box" [(ngModel)]="productName" [disabled]="disableAll">
                </div>
        </div>
        <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <p>Description:</p>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <textarea style="width: 60%" [(ngModel)]="description" [disabled]="disableAll"></textarea>
                </div>
        </div> 
        <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <p>Upload Images:</p>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <app-imageupload></app-imageupload>
                </div>
        </div>    
        <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <p>Price:</p>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <input class="box" [(ngModel)]="price" [disabled]="disableAll">
                </div>
        </div>
        <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <p>Address:</p>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <input class="box" [(ngModel)]="address" [disabled]="disableAll">
                </div>
        </div>
        <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <p>Region:</p>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <input class="box" [disabled]="true" value=" Kazhakootam, Trivandrum">
                </div>
        </div>
        <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <button class="btn btn-primary" (click)="submitItem()">Submit</button>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <button class="btn btn-primary" (click)="resetAll()">Reset</button>
                </div>
        </div>
        <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <p *ngIf="submitMessage">Please wait for 3-5 days for Validation</p>
                </div>
        </div>
    </div>
</div>