<div class="d-flex h-100">
		<div class="container my-auto" style="width:400px;">
			
			<form [formGroup]="loginForm" (ngSubmit)="login()">

				<div class="form-group" [ngClass]="{ 'has-error': submitted && f.userid.errors }">
					<h2 class="text-center text-dark ">-Please Login-</h2>
				</div>
			
				<div class="form-group">
					<input type="email" class="form-control border-secondary" id="email" placeholder="email" formControlName="userid" >    
              </div>    
				
				<div class="form-group">
					<input type="password" class="form-control border-secondary" id="pwd" placeholder="password" formControlName="password">   
            </div>
				
				<div class="form-group form-check">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox"> Remember me
					</label>
				</div>
				
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block"  [disabled]="!loginForm.valid" >Log In</button>
				</div>
				
				<div class="form-group" >
					<a href="#" class="float-right text-dark" >Forgot username/password?</a>
				</div>

				<!-- <div class="form-group" >
						<div *ngIf="loginFormControl.emailid.errors" class="text-errors">
							Invalid email id.
						</div>
				</div> -->
				
				
			</form>


		</div>
	</div>