<div class="container-fluid">
    <h1>Products</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div id="filter-product" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-filter"></i> Filter</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label" for="input-name">Product Name</label>
                        <input type="text" name="filter_name" value="" placeholder="Product Name" id="input-name"
                            class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="input-model">Model</label>
                        <input type="text" name="filter_model" value="" placeholder="Model" id="input-model"
                            class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="input-price">Price</label>
                        <input type="text" name="filter_price" value="" placeholder="Price" id="input-price"
                            class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="input-quantity">Quantity</label>
                        <input type="text" name="filter_quantity" value="" placeholder="Quantity"
                            id="input-quantity" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="input-status">Status</label>
                        <select name="filter_status" id="input-status" class="form-control">
                            <option value=""></option>
                            <option value="1">Enabled</option>
                            <option value="0">Disabled</option>
                        </select>
                    </div>
                    <div class="form-group text-right">
                        <button type="button" id="button-filter" class="btn btn-default"><i
                                class="fa fa-filter"></i> Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-md-pull-3 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> Product List</h3>
                </div>
                <div class="panel-body">
                    <form id="form-product">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <td style="width: 1px;" class="text-center"><input type="checkbox" /></td>
                                        <td class="text-center">Image</td>
                                        <td class="text-center"> <a>Product Name</a> </td>
                                        <td class="text-center"> <a>Price</a> </td>
                                        <td class="text-center"> <a>Quantity Left</a> </td>
                                        <td class="text-center"> <a>Discounts</a> </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor = "let prod of data">
                                        <td class="text-center"> <input type="checkbox" />
                                        </td>
                                        <td class="text-center"> <img
                                                src="https://demo.opencart.com/image/cache/catalog/demo/sony_vaio_1-40x40.jpg"
                                                alt="Sony VAIO" class="img-thumbnail" /> </td>
                                        <td class="text-left">{{ prod["itemId"]["productName"] }}</td>
                                        <td class="text-left">{{ prod["itemId"]["price"] }}</td>
                                        <td class="text-right">{{ prod["itemId"]["totalQuantityLeft"] }}</td>
                                        <td class="text-right"> <span class="label label-warning">0</span> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-6 text-left"></div>
                        <div class="col-sm-6 text-right">Showing 1 to 2 of 2 (1 Pages)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>